::ng-deep ng-select.select-points {
    width: 40px;

    ::-webkit-scrollbar {
        width: 0px;
    }
    .ng-select-container {
        font-size: 25px;
        .ng-arrow-wrapper {
            display: none;
        }
        .ng-clear-wrapper {
            display: none;
        }
        .ng-value-container{
            padding: 0px;
            padding-top: 4px;
            position: relative;
            .ng-value{
                margin: auto;
            }
        }
    }
    .ng-dropdown-panel-items {
        font-size: 15px;
    }
}
